<template>
  <b-container fluid class="p-0 mx-auto">
    <b-row
      class="p-0"
      style="background:#FAFAFA; box-shadow: 0px -3px 10px rgba(0, 0, 0, 0.09);"
    >
      <b-col cols="3 p-0" class="colConver">
        <div class="p-0" style="height:70vh;">
          <div class="d-flex flex-column columnConversations">
            <p
              class="text-light text-center my-4 d-none d-md-block"
              style="font-weight: bold; word-break: break-word;
"
            >
              Conversaciones
            </p>
            <div
              id="divClick"
              class="text-center p-1 ml-4"
              style="border-top: 1px solid #838383;"
              v-for="(item, index) in items"
              v-bind:key="item.sockId"
              v-on:click="
                toEnd(index);
                setActive(item, index);
              "
            >
              <div
                class="row"
                :class="{ divIsSelected: activeIndex === index }"
                :key="item.iduser"
              >
                <b-img
                  class="d-none d-md-block"
                  style="width:30px; padding: 8px;"
                  :src="require('../../assets/img/base/' + checkChannel(index))"
                ></b-img>
                <div class="d-flex flex-column">
                  <span
                    class="text-light"
                    style="font-weight: bold;font-size:15px;"
                    >{{ item.name }}
                  </span>
                  <span
                    class="text-light"
                    :key="componentKey"
                    style="font-size:10px;"
                  >
                    {{ cutMessage(item.lastMessage) }}
                  </span>
                </div>
                <div class=" d-flex" style="padding: 0px;">
                  <span
                    :key="item.count"
                    :class="{ 'd-none': styleNotification(item.count) }"
                    class="paragrahpNoti align-self-center"
                    >{{ item.count }}</span
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </b-col>
      <b-col cols="9 p-0 border">
        <div class="p-0" style="width:100%">
          <b-container>
            <b-row
              style="height: 100px;"
              class="d-flex justify-content-center flex-nowrap"
            >
              <b-col
                v-bind:style="{ display: showOptions }"
                class="flex-column ml-3 mt-4"
                style="border-bottom:1px solid var(--main-color);"
              >
                <span
                  style="color:var(--main-color); font-weight:bold; font-size: 10px;"
                  >Hablas con:
                </span>
                <span class="text-dark" style="font-size: 14px;"
                  >{{ nameUser }}
                </span>
              </b-col>
              <span
                v-bind:style="{ display: showIntro }"
                class="text-dark align-self-center text-center "
                style="font-weight:bold"
                >Para comenzar selecciona una conversación
              </span>
              <b-col
                v-bind:style="{ display: showOptions }"
                class="justify-content-around mt-4"
                style="border-bottom:1px solid var(--main-color); z-index:3;"
              >
                <div
                  id="divClick"
                  @click="
                    showHistory();
                    $bvModal.show('bv-modal-example');
                  "
                  class="historyContainer d-flex justify-content-around"
                >
                  <span
                    style="font-weight:bold; font-size:12px;"
                    class="text-dark align-self-center d-none d-md-block"
                    >Ver Historial
                  </span>
                  <div class="align-self-center">
                    <img
                      style="width:30px;height:30px;"
                      src="../../assets/img/base/search.svg"
                    />
                  </div>
                  <b-modal id="bv-modal-example" scrollable>
                    <template slot="modal-title"> </template>
                    <b-container>
                      <b-row>
                        <b-col class="px-md-2 mt-1" style="height:50vh">
                          <div class="bot-web-chat">
                            <div id="winMessages" class="bot-web-chat_messages">
                              <table class="bot-web-chat_messages-table">
                                <tbody>
                                  <tr>
                                    <td id="messages">
                                      <div
                                        class="p-2"
                                        v-for="(item, index) in history"
                                        v-bind:key="index"
                                      >
                                        <div
                                          v-if="item.who === 'bot'"
                                          class="user-request d-flex justify-content-around"
                                        >
                                          <div class="chatBubbleAgentHistory ">
                                            <span
                                              v-html="
                                                renderMessageRegexBot(
                                                  item.message
                                                )
                                              "
                                              ><br /></span
                                            ><span
                                              style="float:right; font-size:10px;"
                                              >{{ item.hora }}</span
                                            >
                                          </div>
                                          <img
                                            class="align-self-center"
                                            style="width:30px;height:30px; margin-left: 10px;"
                                            src="../../assets/img/business/icon-agent.svg"
                                          />
                                        </div>
                                        <div
                                          v-else
                                          class="server-response d-flex justify-content-around"
                                        >
                                          <img
                                            class="align-self-center"
                                            style="width:30px;height:30px; margin-right: 10px;"
                                            src="../../assets/img/business/icon-user.svg"
                                          />
                                          <div
                                            class="chatBubbleUserHistory text-light"
                                          >
                                            <span
                                              v-html="
                                                renderMessageRegexBot(
                                                  item.message
                                                )
                                              "
                                              ><br /></span
                                            ><span
                                              style="float:right; font-size:10px;"
                                              >{{ item.hora }}</span
                                            >
                                          </div>
                                        </div>
                                      </div>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </b-col>
                      </b-row>
                    </b-container>
                    <div
                      slot="modal-footer"
                      class="d-flex justify-content-around w-100"
                    ></div>
                  </b-modal>
                </div>
              </b-col>
              <b-col
                v-bind:style="{ display: showOptions }"
                class="justify-content-around mt-4 mr-3"
                style="border-bottom:1px solid var(--main-color); z-index:3;"
              >
                <div
                  class="tipConversation d-flex justify-content-around"
                  id="divClick"
                  @click="$bvModal.show('bv-modal-tipificacion')"
                >
                  <span
                    class="text-dark align-self-center d-none d-md-block"
                    style="font-weight:bold; padding: 12px; font-size:12px;"
                    >Tipificar conversación</span
                  >
                  <div class="align-self-center">
                    <img
                      style="width:30px;height:30px;"
                      src="../../assets/img/base/tip.svg"
                    />
                  </div>
                  <b-modal
                    id="bv-modal-tipificacion"
                    hide-footer
                    hide-header
                    scrollable
                  >
                    <template slot="modal-title"> </template>
                    <div>
                      <span class="text-dark mb-3" style="font-weight:bold"
                        >Tipificar conversación</span
                      >
                      <b-alert
                        v-model="showDismissibleTip"
                        variant="danger"
                        dismissible
                      >
                        Por favor selecciona alguna!
                      </b-alert>
                      <b-form-select
                        class="mt-3"
                        v-model="selected"
                        :options="options"
                      ></b-form-select>
                      <div class="mt-3">
                        <span class="text-dark" style="font-weight:bold">
                          Seleccionado: <strong>{{ selected }}</strong>
                        </span>
                      </div>
                    </div>
                    <div class="d-flex justify-content-around">
                      <b-button
                        class="mt-2 align-self-center"
                        @click="endConversation()"
                        >Finalizar</b-button
                      >
                      <b-button
                        class="mt-2 align-self-center"
                        @click="$bvModal.hide('bv-modal-tipificacion')"
                        >Cerrar</b-button
                      >
                    </div>
                  </b-modal>
                </div>
              </b-col>
            </b-row>
            <b-row>
              <b-col class="" style="height:55vh;">
                <div class="bot-web-chat">
                  <div id="winMessages" class="bot-web-chat_messages">
                    <table class="bot-web-chat_messages-table">
                      <tbody>
                        <tr>
                          <td id="messages">
                            <div
                              v-for="item in messagesSockets(messages)"
                              v-bind:key="item.idMess"
                            >
                              <div
                                v-if="item.who === 'agent'"
                                class="user-request text-dark d-flex justify-content-around"
                              >
                                <div class="chatBubbleAgent">
                                  <span
                                    v-html="renderMessageRegex(item.message)"
                                    ><br /></span
                                  ><span style="float:right; font-size:10px;">{{
                                    item.hora
                                  }}</span>
                                </div>
                                <img
                                  class="align-self-center"
                                  style="width:30px;height:30px; margin-left: 10px;"
                                  src="../../assets/img/business/icon-agent.svg"
                                />
                              </div>
                              <div
                                v-else
                                class="server-response text-light d-flex justify-content-around"
                              >
                                <img
                                  class="align-self-center"
                                  style="width:30px;height:30px; margin-right: 10px;"
                                  src="../../assets/img/business/icon-user.svg"
                                />
                                <div class="chatBubbleUser">
                                  <span
                                    v-html="renderMessageRegex(item.message)"
                                    ><br /></span
                                  ><span style="float:right; font-size:10px;">{{
                                    item.hora
                                  }}</span>
                                </div>
                              </div>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </b-col>
            </b-row>
            <b-row>
              <b-col
                cols="10"
                class="p-0 d-flex around border-top"
                style="box-shadow: 0px -3px 10px rgba(0, 0, 0, 0.09);"
              >
                <textarea
                  v-model="message"
                  class="border-0 p-2"
                  ref="ta"
                  v-on:keydown.enter.prevent="submit"
                  v-on:keyup="shorts"
                  style="height:40px; width:100%;"
                  placeholder="Escribe un mensaje..."
                  autocomplete="off"
                  :disabled="activeChat"
                  @click="toEndChat"
                ></textarea>
              </b-col>
              <b-col
                class="p-0 d-flex  border-top justify-content-center"
                style="box-shadow: 0px -3px 10px rgba(0, 0, 0, 0.09);"
                id="divClick"
                :disabled="activeChat"
              >
                <img
                  class="align-self-center"
                  style="width:25px;height:25px;"
                  src="../../assets/img/base/emoji.svg"
                  @click="openEmojiWin"
                />
                <picker
                  set="emojione"
                  :data="emojiIndex"
                  @select="addEmoji"
                  title="Escoge tu emoji…"
                  emoji="point_up"
                  :style="{
                    display: emojiDisplay,
                    position: 'absolute',
                    bottom: '34px',
                    right: '20px'
                  }"
                  :i18n="{
                    search: 'Buscar',
                    categories: {
                      search: 'Resultados',
                      recent: 'Recientes',
                      people: 'Sonrisas & Gente',
                      nature: 'Animales & Naturaleza',
                      foods: 'Comida & bebida',
                      activity: 'Actividades',
                      places: 'Viajes & Lugares',
                      objects: 'Objetos',
                      symbols: 'Simbolos',
                      flags: 'Banderas'
                    }
                  }"
                />
              </b-col>
              <b-col
                class="p-0 d-flex  border-top justify-content-center"
                style="box-shadow: 0px -3px 10px rgba(0, 0, 0, 0.09);"
                id="divClick"
                v-on:click="submit"
                :disabled="activeChat"
              >
                <img
                  class="align-self-center"
                  style="width:25px;height:25px;"
                  src="../../assets/img/base/send.svg"
                />
              </b-col>
              <b-modal id="bv-modal-shorts" scrollable size="lg">
                <template slot="modal-title"> </template>
                <b-container>
                  <div
                    class="row w-75 mx-auto rounded-lg justify-content-around mt-3 font-weight-bold flex-nowrap tableAgent"
                  >
                    <div class="col-3 text-center align-self-center colTable">
                      Atajo
                    </div>
                    <div class="col text-center align-self-center colTable">
                      Texto
                    </div>
                  </div>
                  <div
                    class="row w-75 mx-auto rounded-lg text-dark justify-content-around flex-nowrap tableAgents"
                    v-for="item in shortcuts"
                    v-bind:key="item.value"
                  >
                    <div class="col-3 text-center align-self-center colTable">
                      <div class="text-center">{{ item.value }}</div>
                    </div>
                    <div class="col text-center align-self-center">
                      <div class="text-center">{{ item.text }}</div>
                    </div>
                  </div>
                </b-container>
                <div
                  slot="modal-footer"
                  class="d-flex justify-content-around w-100"
                ></div>
              </b-modal>
              <b-col
                class="p-0 d-flex  border-top justify-content-center"
                style="box-shadow: 0px -3px 10px rgba(0, 0, 0, 0.09);"
                id="divClick"
                @click="$bvModal.show('bv-modal-shorts')"
                :disabled="activeChat"
              >
                <img
                  class="align-self-center"
                  style="width:25px;height:25px;"
                  src="../../assets/img/base/question.svg"
                />
              </b-col>
            </b-row>
          </b-container>
        </div>
      </b-col>
    </b-row>
    <b-row class="p-0" style="height:15px; background-color:var(--main-color);">
    </b-row>
  </b-container>
</template>
<script>
import axios from "axios";
import isBase64 from "is-base64";
import data from "emoji-mart-vue-fast/data/all.json";
import { Picker, EmojiIndex } from "emoji-mart-vue-fast";
let emojiIndex = new EmojiIndex(data);

import "emoji-mart-vue-fast/css/emoji-mart.css";
require("@/components/Chat/chat.css");
export default {
  components: {
    Picker
  },
  data: function() {
    return {
      publicPath: process.env.BASE_URL,
      pathServer: process.env.VUE_APP_URL_SERVER_EXP,
      localPathData: process.env.VUE_APP_LOCAL_DATA,
      localPathJToken: process.env.VUE_APP_LOCAL_TOKEN,
      localPathState: process.env.VUE_APP_LOCAL_STATE,
      activeIndex: undefined,
      message: "",
      namUs: "",
      nameUser: "",
      items: [],
      messages: [],
      history: [],
      showDismissibleTip: false,
      showOptions: "none",
      backgDriv: "",
      showIntro: "",
      hora: this.nowHour(),
      showContainer: "none",
      selected: null,
      emojiIndex: emojiIndex,
      activeChat: true,
      isActive: true,
      componentKey: 0,
      emojiDisplay: "none",
      options: [
        {
          value: null,
          text: "Por favor, selecciona la tipificación"
        } /*,
        { value: "FINALIZADO", text: "Solicitud atendida" },
        { value: "NO RESPONDE", text: "Cliente deja de Responder" },
        { value: "CONEXION PERDIDA", text: "Perdida de conexión" }*/
      ],
      shortcuts: []
    };
  },
  methods: {
    addEmoji(emoji) {
      var item = emoji.native;
      let myField = this.$refs.ta;
      if (document.selection) {
        myField.focus();
        this.message = item;
        this.openEmojiWin();
      } else if (myField.selectionStart || myField.selectionStart == "0") {
        myField.focus();
        var startPos = myField.selectionStart;
        var endPos = myField.selectionEnd;
        this.message =
          myField.value.substring(0, startPos) +
          item +
          myField.value.substring(endPos, myField.value.length);
        myField.setSelectionRange(endPos + item.length, endPos + item.length);
        this.openEmojiWin();
      } else {
        this.message += item;
        this.openEmojiWin();
      }
    },
    openEmojiWin() {
      if (this.activeChat != true) {
        if (this.emojiDisplay === "none") {
          this.emojiDisplay = "";
        } else {
          this.emojiDisplay = "none";
        }
      }
    },
    shorts() {
      if (this.message[0] === "/") {
        let result = this.shortcuts.filter(
          el => "/" + el.value === this.message
        );
        if (result[0]) {
          this.message = result[0].text;
        }
      }
    },
    checkShorts() {},
    setActive(item, index) {
      this.activeIndex = index;
      this.items.iduser = item.iduser;
    },
    checkChannel(index) {
      if (this.items[index].channel === "whatsapp") {
        return "whatsapp.svg";
      } else if (this.items[index].channel === "webchat") {
        return "chat.svg";
      }
    },
    nowHour() {
      var date = new Date();
      var hours = date.getHours();
      var minutes = date.getMinutes();
      var seconds = date.getSeconds();
      var apm = " ";
      if (hours < 10) hours = "0" + hours;
      if (minutes < 10) minutes = "0" + minutes;
      if (hours > 12) {
        //hours = hours - 12;
        apm = "pm";
      } else if (hours == 12) {
        apm = "pm";
      } else {
        apm = "am";
      }
      if (seconds < 10) seconds = "0" + seconds;
      return hours + ":" + minutes + ":" + seconds + " " + apm;
    },
    submit(event) {
      event.preventDefault();
      if (this.message != "" && this.message.trim() != "") {
        this.items[window.indexActive].lastMessage = this.message;
        this.items[window.indexActive].count = 0;
        this.messages.push({
          socketid: this.namUs,
          message: this.message,
          idcon: window.idConver,
          hora: this.nowHour(),
          who: "agent"
        });
        axios
          .post(
            this.pathServer + "/saveMessageAgent",
            {
              idUser: window.useractive,
              idSocket: window.idConver,
              message: this.message,
              from: "agent"
            },
            {
              headers: {
                "Content-Type": "application/json",
                authorization:
                  "Bearer " +
                  JSON.parse(localStorage.getItem(this.localPathData))
                    .jsonWebToken
              }
            }
          )
          .then(() => {
            this.toEndChat();
          });
        this.$parent.socket.emit(
          "Agent-User",
          window.activeConversation,
          this.message,
          null,
          window.idConver,
          window.activeChannel,
          "agent"
        );
        this.message = "";
      }
    },
    async toEnd(index) {
      await this.send(index);
      this.toEndChat();
    },
    toEndChat() {
      window.objDiv.scrollTop = window.objDiv.scrollHeight;
    },
    styleDiv() {
      var style = {};
      style.background = "#4B2973";
      return style;
    },
    send(index) {
      this.selected = null;
      this.showOptions = "flex";
      this.showIntro = "none";
      this.activeChat = false;
      this.namUs = this.items[index].sockid;
      this.nameUser = this.items[index].name;
      window.activeConversation = this.items[index].sockid;
      window.useractive = this.items[index].iduser;
      window.idConver = this.items[index].conid;
      window.activeChannel = this.items[index].channel;
      this.items[index].count = 0;
      window.indexActive = index;
    },
    showHistory() {
      axios
        .post(
          this.pathServer + "/callMessages",
          {
            idUser: window.useractive,
            tokenUser: window.AgenToken
          },
          {
            headers: {
              "Content-Type": "application/json",
              authorization:
                "Bearer " +
                JSON.parse(localStorage.getItem(this.localPathData))
                  .jsonWebToken
            }
          }
        )
        .then(response => {
          this.history = response.data;
        });
    },
    endConversation() {
      if (this.selected === null) {
        this.showDismissibleTip = true;
      } else {
        axios
          .post(
            this.pathServer + "/updateConversation",
            {
              estado: this.selected,
              idSocket: window.activeConversation,
              idConversation: window.idConver,
              tokenUser: window.AgenToken
            },
            {
              headers: {
                "Content-Type": "application/json",
                authorization:
                  "Bearer " +
                  JSON.parse(localStorage.getItem(this.localPathData))
                    .jsonWebToken
              }
            }
          )
          .then(() => {
            let tokenAgent = localStorage.getItem(this.localPathJToken);
            this.$parent.socket.emit(
              "Agent-User",
              window.activeConversation,
              tokenAgent,
              1,
              window.idConver,
              window.activeChannel,
              "agent"
            );
            this.$parent.socket.emit("Agent", tokenAgent, {
              checkCola: tokenAgent
            });
            this.items.splice(window.indexActive, 1);
            this.$bvModal.hide("bv-modal-tipificacion");
            this.selected = null;
            this.nameUser = "";
            this.showOptions = "none";
            this.showIntro = "";
            this.activeChat = true;
            window.activeConversation = null;
            window.idConver = null;
            window.activeChannel = null;
            window.useractive = null;
          });
      }
    },
    messagesSockets: function() {
      return this.messages.filter(function(item) {
        return (
          item.socketid === window.activeConversation &&
          item.idcon === window.idConver
        );
      });
    },
    historySockets: function() {
      return this.history.filter(function(item) {
        return item.id_chat_user === window.useractive;
      });
    },
    spawnNotification(body, title) {
      var options = {
        body: body
      };
      new Notification(title, options);
    },
    searchIndexUser(value) {
      let pos = this.items.findIndex(ele => ele.sockid === value);
      return pos;
    },
    styleNotification(count) {
      if (parseInt(count) === 0) {
        return true;
      } else {
        return false;
      }
    },
    cutMessage(msg) {
      if (isBase64(msg, { allowMime: true }) && msg.length > 1000) {
        return `Archivo multimedia`;
      }

      var msgshort = "";
      if (msg) {
        let screenSize = window.innerWidth;
        if (screenSize > 960) {
          msgshort = msg.substr(0, 10);
        } else {
          msgshort = msg.substr(0, 5);
        }
      }
      return msgshort + "...";
    },
    renderMessageRegex(msg) {
      if (msg) {
        if (msg.split(" ").length > 1 || msg.length > 500) {
          // Valida si es una imagen
          if (isBase64(msg, { allowMime: true })) {
            return `<img src="${msg}" class="img-fluid w-50"/><br>`;
          } else {
            let strNew = msg.replace(
              /(http(s)?:\/\/.)?(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&//=]*)/gm,
              function(url) {
                return (
                  '<a target="autoblank" href="' + url + '">' + url + "</a>"
                );
              }
            );
            return strNew + "<br>";
          }
        } else {
          let strNew = msg.replace(
            /(http(s)?:\/\/.)?(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&//=]*)/gm,
            function(url) {
              return '<a target="autoblank" href="' + url + '">' + url + "</a>";
            }
          );
          return strNew + "<br>";
        }
      } else {
        return msg;
      }
    },
    renderMessageRegexBot(msg) {
      if (msg) {
        var strNew = msg.replace(/\*(\S(.*?\S)?)\*/gm, "<strong>$1</strong>");
        var strNews = strNew.replace(/(?:\r\n|\r|\n)/g, "<br>");
        let strLink = strNews.replace(
          /(http(s)?:\/\/.)?(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&//=]*)/gm,
          function(url) {
            return '<a target="autoblank" href="' + url + '">' + url + "</a>";
          }
        );
        return strLink + "<br>";
      } else {
        return msg;
      }
    }
  },
  beforeMount() {
    this.$parent.socket.off("event");
    this.$parent.socket.off("private-message");
    document.removeEventListener("visibilitychange", () => {}, true);
    axios
      .post(
        this.pathServer + "/callTypifyAgent",
        {
          tokenUser: localStorage.getItem(this.localPathJToken)
        },
        {
          headers: {
            "Content-Type": "application/json",
            authorization:
              "Bearer " +
              JSON.parse(localStorage.getItem(this.localPathData)).jsonWebToken
          }
        }
      )
      .then(resp => {
        let vm = this;
        resp.data.forEach(function(it) {
          vm.options.push(it);
        });
        //this.options = resp.data;
      });
    axios
      .post(
        this.pathServer + "/callShortcutAgent",
        {
          tokenUser: localStorage.getItem(this.localPathJToken)
        },
        {
          headers: {
            "Content-Type": "application/json",
            authorization:
              "Bearer " +
              JSON.parse(localStorage.getItem(this.localPathData)).jsonWebToken
          }
        }
      )
      .then(resp => {
        this.shortcuts = resp.data;
      });
    if (localStorage.getItem(this.localPathData)) {
      window.idAg = JSON.parse(
        localStorage.getItem(this.localPathData)
      ).idAgent;
      window.nameAg = JSON.parse(
        localStorage.getItem(this.localPathData)
      ).nameAgent;
      window.capacity = JSON.parse(
        localStorage.getItem(this.localPathData)
      ).capacity;
      window.AgenToken = localStorage.getItem(this.localPathJToken);

      axios
        .post(
          this.pathServer + "/callConversations",
          {
            idAgent: window.idAg,
            tokenUser: window.AgenToken
          },
          {
            headers: {
              "Content-Type": "application/json",
              authorization:
                "Bearer " +
                JSON.parse(localStorage.getItem(this.localPathData))
                  .jsonWebToken
            }
          }
        )
        .then(response => {
          response.data.forEach(async it => {
            this.$parent.socket.emit(
              "Agent-User",
              it.sockid,
              null,
              null,
              null,
              it.channel,
              "agent"
            );
            await axios
              .post(
                this.pathServer + "/callConversationAgent",
                {
                  idSocket: it.sockid,
                  idCons: it.conid,
                  tokenUser: window.AgenToken
                },
                {
                  headers: {
                    "Content-Type": "application/json",
                    authorization:
                      "Bearer " +
                      JSON.parse(localStorage.getItem(this.localPathData))
                        .jsonWebToken
                  }
                }
              )
              .then(response => {
                let pos = this.searchIndexUser(it.sockid);
                response.data.forEach(e => {
                  this.messages.push(e);
                });
                this.items[pos].lastMessage =
                  response.data[response.data.length - 1].message;
              });
          });
          this.items = response.data;
          let tokenAgent = localStorage.getItem(this.localPathJToken);
          let numCom = response.data.length;
          this.$parent.socket.emit("Agent", tokenAgent, {
            idSocketAgent: tokenAgent,
            id: window.idAg,
            numeroCon: numCom,
            stateAgent: this.$parent.state,
            nameAgent: window.nameAg,
            capacity: window.capacity
          });
        });
    }
  },
  mounted() {
    // Let's check if the browser supports notifications
    if (!("Notification" in window)) {
      alert("This browser does not support desktop notification");
    }
    // Let's check whether notification permissions have already been granted
    else if (Notification.permission === "granted") {
      // If it's okay let's create a notification
    }
    // Otherwise, we need to ask the user for permission
    else if (Notification.permission !== "denied") {
      Notification.requestPermission(function() {});
    }

    window.objDiv = document.getElementById("winMessages");
    document.addEventListener(
      "visibilitychange",
      function() {
        window.docuVisi = document.visibilityState;
      },
      true
    );
    this.$parent.socket.on("event", (payload, channel) => {
      axios
        .post(
          this.pathServer + "/saveConvertation",
          {
            idSocket: payload.socketId,
            idUser: payload.id,
            estado: "Abierta",
            idAgent: window.idAg,
            tokenUser: window.AgenToken,
            channel: channel
          },
          {
            headers: {
              "Content-Type": "application/json",
              authorization:
                "Bearer " +
                JSON.parse(localStorage.getItem(this.localPathData))
                  .jsonWebToken
            }
          }
        )
        .then(() => {
          axios
            .post(
              this.pathServer + "/callUser",
              {
                idUser: payload.id,
                tokenUser: window.AgenToken
              },
              {
                headers: {
                  "Content-Type": "application/json",
                  authorization:
                    "Bearer " +
                    JSON.parse(localStorage.getItem(this.localPathData))
                      .jsonWebToken
                }
              }
            )
            .then(response => {
              if (window.docuVisi == "hidden") {
                this.spawnNotification(
                  response.data[0].name,
                  "Nueva Convesacion abierta con:"
                );
              }
              this.items.push({
                iduser: response.data[0].id,
                conid: response.data[0].idcon,
                sockid: payload.socketId,
                estado: "Abierta",
                name: response.data[0].name,
                email: response.data[0].email,
                idagent: window.idAg,
                count: 0,
                lastMessage: "Hola mi nombre es " + window.nameAg + "!",
                channel: channel
              });
              this.$parent.socket.emit(
                "Agent-User",
                payload.socketId,
                "Hola mi nombre es " + window.nameAg + "!",
                2,
                response.data[0].idcon,
                channel,
                "agent"
              );
              this.messages.push({
                socketid: payload.socketId,
                message: "Hola mi nombre es " + window.nameAg + "!",
                idcon: response.data[0].idcon,
                who: "agent"
              });
            });
        });
    });
    this.$parent.socket.on("private-message", async data => {
      console.log(data);
      if (data.messageUser != null) {
        if (window.docuVisi == "hidden") {
          let pos = this.searchIndexUser(data.socketIdUser);
          if (data.socketIdUser == window.activeConversation) {
            this.items[pos].count = parseInt(this.items[pos].count) + 1;
          }
          this.spawnNotification(data.messageUser, "Nuevo Message: ");
        }
        if (!data.state) {
          await this.messages.push({
            socketid: data.socketIdUser,
            message: data.messageUser,
            idcon: parseInt(data.idCon),
            hora: this.nowHour(),
            count: 1
          });
        } else if (data.state == 4) {
          await this.messages.push({
            socketid: data.socketIdUser,
            message: data.messageUser,
            idcon: parseInt(data.idCon),
            hora: this.nowHour(),
            who: "agent",
            count: 1
          });
        }
        let pos = this.searchIndexUser(data.socketIdUser);
        if (data.socketIdUser != window.activeConversation) {
          this.items[pos].count = parseInt(this.items[pos].count) + 1;
        }
        this.items[pos].lastMessage = data.messageUser;
        this.componentKey += 1;
        this.toEndChat();
      } else if (data.state == 5 && data.messageUser == null) {
        axios
          .post(
            this.pathServer + "/updateConversation",
            {
              estado: "TMO",
              idSocket: data.socketIdUser,
              idConversation: data.idCon,
              tokenUser: window.AgenToken
            },
            {
              headers: {
                "Content-Type": "application/json",
                authorization:
                  "Bearer " +
                  JSON.parse(localStorage.getItem(this.localPathData))
                    .jsonWebToken
              }
            }
          )
          .then(() => {
            let tokenAgent = localStorage.getItem(this.localPathJToken);
            this.$parent.socket.emit(
              "Agent-User",
              data.socketIdUser,
              tokenAgent,
              1,
              data.idCon,
              data.channel,
              "agent"
            );
            this.$parent.socket.emit("Agent", tokenAgent, {
              checkCola: tokenAgent
            });
            let posItm = this.items.findIndex(
              ele => ele.sockid === data.socketIdUser
            );
            this.items.splice(posItm, 1);
            if (posItm === window.indexActive) {
              this.selected = null;
              this.nameUser = "";
              this.showOptions = "none";
              this.showIntro = "";
              this.activeChat = true;
              window.activeConversation = null;
              window.idConver = null;
              window.activeChannel = null;
              window.useractive = null;
            }
          });
      }
    });
  }
};
</script>
<style scoped src="./chat.css"></style>
