<template>
  <div class="main">
    <div class="sidenav">
      <div class="row" style="height: 98vh;">
        <div class="col-md-6 col-sm-12 d-flex justify-content-center">
          <img
            style="width:20vw;"
            src="../../assets/img/business/logo2.svg"
            alt=""
            class="align-self-center"
          />
        </div>

        <div
          class="col-md-6 col-sm-12"
          style="background: white; padding-top:30px;"
        >
          <div class="text-center">
            <strong>
              <h3
                style="font-size: 3em; margin-top:2vh;"
                class="inicio m-login"
              >
                ¡Bienvenido!
              </h3>
              <span>Ten un grandioso día</span>
            </strong>
          </div>
          <div class="container" style="max-width: 450px;">
            <div class="login-form">
              <b-form>
                <b-alert v-model="showDismissibleAlert" variant="danger">
                  Usuario o contraseña incorrecta
                  <b-img
                    style="float:right"
                    :src="require('../../assets/img/base/person-err.svg')"
                  ></b-img>
                </b-alert>
                <b-form-group
                  label="Nombre de Usuario"
                  label-for="user"
                  style="font-weight:bold;"
                  class="s-label"
                >
                  <b-alert
                    v-model="showDismissibleAlert2"
                    variant="danger"
                    dismissible
                  >
                    Escribe un Nombre de Usuario Correcto
                  </b-alert>
                  <b-form-input
                    id="user"
                    v-model="user"
                    type="text"
                    v-on:click="reset"
                    v-on:keydown="reset"
                    required
                    autofocus
                    placeholder="Escribe tu usuario..."
                    class="input-style"
                    v-bind:style="{
                      'background-image': 'url(' + imageInputName + ')'
                    }"
                  ></b-form-input>
                </b-form-group>
                <b-form-group
                  label="Contraseña"
                  label-for="password"
                  style="font-weight:bold;"
                  class="s-label mt-3 "
                >
                  <b-alert
                    v-model="showDismissibleAlert3"
                    variant="danger"
                    dismissible
                  >
                    Escribe una Contraseña Correcto
                  </b-alert>
                  <b-form-input
                    id="password"
                    type="password"
                    v-model="password"
                    v-on:click="reset"
                    v-on:keydown="reset"
                    required
                    placeholder="Escribe tu contraseña..."
                    class="input-style"
                    v-bind:style="{
                      'background-image': 'url(' + imageInputPass + ')'
                    }"
                  ></b-form-input>
                </b-form-group>
                <center>
                  <br /><b-button
                    type="submit"
                    class="button-login mt-3"
                    @click="handleSubmit"
                    :disabled="!!myInput"
                    v-bind:style="{
                      background: buttonActive().back,
                      'border-color': buttonActive().back,
                      cursor: buttonActive().cursor,
                      color: buttonActive().color
                    }"
                  >
                    Ingresar
                  </b-button>
                </center>
              </b-form>
            </div>
          </div>
        </div>
      </div>
      <div
        class="row justify-content-center"
        style="position:fixed; bottom:0px; width:100%; 
          margin-left: 0%;background:var(--main-color); font-size: 12px;"
      >
        <span style="color: white">Powered By </span
        ><span>
          -
          <a href="https://www.montechelo.com.co/" target="_blank"
            >Monte<span style="color: white; ">chelo</span></a
          ></span
        >
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
require("@/components/User/login.css");

export default {
  data() {
    return {
      publicPath: process.env.BASE_URL,
      pathServer: process.env.VUE_APP_URL_SERVER_EXP,
      localPathData: process.env.VUE_APP_LOCAL_DATA,
      localPathJToken: process.env.VUE_APP_LOCAL_TOKEN,
      localPathState: process.env.VUE_APP_LOCAL_STATE,
      user: "",
      password: "",
      bot: "",
      showDismissibleAlert: false,
      showDismissibleAlert2: false,
      showDismissibleAlert3: false,
      imageInputName: require("../../assets/img/base/person.svg"),
      imageInputPass: "",
      myInput: true
    };
  },
  beforeCreate() {
    if (localStorage.getItem(this.localPathData)) {
      this.$router.push({ name: "home" });
    }
  },
  methods: {
    handleSubmit(e) {
      e.preventDefault();
      if (this.password.length > 0 && this.user.length > 0) {
        axios
          .post(this.pathServer + "/login", {
            username: this.user,
            password: this.password
          })
          .then(response => {
            let status = response.data.login;
            if (status) {
              localStorage.setItem(this.localPathJToken, response.data.token);
              localStorage.setItem(
                this.localPathData,
                JSON.stringify({
                  idAgent: this.user,
                  nameAgent: response.data.name,
                  jsonWebToken: response.data.jwtoken,
                  capacity: response.data.capacity
                })
              );
              this.$parent.isActive = false;
              this.$parent.navDis = "";
              this.$parent.nameAgent = JSON.parse(
                localStorage.getItem(this.localPathData)
              ).nameAgent;
              this.$parent.idAgent = JSON.parse(
                localStorage.getItem(this.localPathData)
              ).idAgent;
              window.idAg = JSON.parse(
                localStorage.getItem(this.localPathData)
              ).idAgent;
              switch (response.data.rol) {
                case "Agentes":
                  this.$parent.menu[1].hidden = false;
                  this.$parent.menu[2].hidden = true;
                  this.$parent.menu[3].hidden = true;
                  this.$parent.menu[4].hidden = true;
                  this.$parent.menu[5].hidden = true;
                  this.$router.push({ name: "home" });
                  break;
                case "Supervisor":
                  this.$parent.menu[1].hidden = true;
                  this.$parent.menu[2].hidden = false;
                  this.$parent.menu[3].hidden = false;
                  this.$parent.menu[4].hidden = false;
                  this.$parent.menu[5].hidden = true;
                  this.$router.push({ name: "control" });
                  break;
                case "Administrador":
                  this.$parent.menu[1].hidden = true;
                  this.$parent.menu[2].hidden = true;
                  this.$parent.menu[3].hidden = true;
                  this.$parent.menu[4].hidden = true;
                  this.$parent.menu[5].hidden = false;
                  this.$router.push({ name: "supervisores" });
                  break;
              }
            } else {
              this.showDismissibleAlert = true;
            }
          })
          .catch(function(error) {
            console.log(error.response);
          });
      } else if (this.user.length <= 0) {
        this.imageInputName = require("../../assets/img/base/person-err.svg");
        this.showDismissibleAlert2 = true;
      } else if (this.password.length <= 0) {
        this.showDismissibleAlert3 = true;
        this.imageInputPass = require("../../assets/img/base/person-err.svg");
      }
    },
    reset() {
      this.showDismissibleAlert = false;
      this.showDismissibleAlert2 = false;
      this.imageInputName = require("../../assets/img/base/person.svg");
      this.imageInputPass = "";
      this.showDismissibleAlert3 = false;
    },
    buttonActive() {
      if (this.password.length <= 0 || this.user.length <= 0) {
        this.myInput = true;
        return {
          back: "#D8D8D8 !important",
          cursor: "not-allowed !important",
          color: "#8F8F8F !important"
        };
      } else {
        this.myInput = false;
        return {
          back: "var(--secondary-color) !important",
          cursor: "pointer !important",
          color: "#fff !important"
        };
      }
    }
  }
};
</script>
<!-- estile login -->
<style scoped src="@/components/User/login.css"></style>
