<template>
  <div class="main w-100 mx-auto">
    <div class="row" style="max-width:100vw;">
      <div
        class="col"
        style="background:#FAFAFA; box-shadow: 0px -3px 10px rgba(0, 0, 0, 0.09); padding-top: 30px; margin: 0 20px; left:30px; padding-bottom:40px;"
      >
        <div class="text-center">
          <strong>
            <h1 class="inicio mb-3">Actualización Agentes</h1>
            <span>Ingresa los siguientes datos </span>
          </strong>
        </div>
        <div class="container mt-5" style="max-width: 450px;">
          <div class="">
            <b-form>
              <b-alert
                v-model="showDismissibleAlert"
                variant="danger"
                class="text-center"
              >
                No existe un usuario con esa cedula o no tienes permiso para
                actualizar
                <b-img
                  style="float:right"
                  :src="require('../../assets/img/base/person-err.svg')"
                ></b-img>
              </b-alert>
              <b-alert v-model="showDismissibleAlert6" variant="success">
                Se ha registrado satisfactoriamente el agente
              </b-alert>
              <div class="row">
                <b-form-group
                  label="Cedula del agente"
                  label-for="user"
                  style="font-weight:bold;"
                  class="s-label col-8"
                >
                  <b-alert v-model="showDismissibleAlert2" variant="danger">
                    Escribe una Cedula de Usuario Correcta
                  </b-alert>
                  <b-form-input
                    id="user"
                    v-model="user"
                    type="text"
                    v-on:click="reset"
                    v-on:keydown="reset"
                    required
                    autofocus
                    placeholder="Escribe la cedula usuario..."
                    class="input-style"
                    v-bind:style="{
                      'background-image': 'url(' + imageInputName + ')'
                    }"
                  ></b-form-input>
                </b-form-group>
                <b-button
                  type="submit"
                  class="button-login align-self-center col-4 mt-2"
                  @click="searchAgent"
                  :disabled="!!myInputSearch"
                  v-bind:style="{
                    background: buttonActiveSearch().back,
                    'border-color': buttonActiveSearch().back,
                    cursor: buttonActiveSearch().cursor,
                    color: buttonActiveSearch().color
                  }"
                  >Buscar
                </b-button>
              </div>
              <b-form-group
                label="Nombre del agente"
                label-for="name"
                style="font-weight:bold;"
                class="s-label mt-0 "
              >
                <b-form-input
                  id="name"
                  type="text"
                  v-model="name"
                  v-on:click="reset"
                  v-on:keydown="reset"
                  required
                  placeholder="Escribe un nombre..."
                  class="input-style"
                  v-bind:style="{
                    'background-image': 'url(' + imageInputNameUser + ')'
                  }"
                ></b-form-input>
              </b-form-group>
              <b-form-group
                label="Correo eléctronico"
                label-for="email"
                style="font-weight:bold;"
                class="s-label mt-3 "
              >
                <b-alert
                  v-model="showDismissibleAlert4"
                  variant="danger"
                  dismissible
                >
                  Escribe un Email Correcto
                </b-alert>
                <b-form-input
                  id="email"
                  type="email"
                  v-model="email"
                  v-on:click="reset"
                  v-on:keydown="reset"
                  required
                  placeholder="Escribe el correo..."
                  class="input-style"
                  v-bind:style="{
                    'background-image': 'url(' + imageInputEmail + ')'
                  }"
                ></b-form-input>
              </b-form-group>
              <b-form-group
                label="Contraseña"
                label-for="password"
                style="font-weight:bold;"
                class="s-label mt-3 "
              >
                <b-alert v-model="showDismissibleAlert3" variant="danger">
                  La contraseña es muy corta
                </b-alert>
                <b-form-input
                  id="password"
                  type="password"
                  v-model="password"
                  v-on:click="reset"
                  v-on:keydown="reset"
                  required
                  placeholder="Escribe una contraseña..."
                  class="input-style"
                  v-bind:style="{
                    'background-image': 'url(' + imageInputPass + ')'
                  }"
                ></b-form-input>
              </b-form-group>
              <b-form-group
                label="Confirmar Contraseña"
                label-for="password2"
                style="font-weight:bold;"
                class="s-label mt-3 "
              >
                <b-alert v-model="showDismissibleAlert5" variant="danger">
                  Las contraseñas no coinciden
                </b-alert>
                <b-form-input
                  id="password2"
                  type="password"
                  v-model="password2"
                  v-on:click="reset"
                  v-on:keydown="reset"
                  v-on:keyup.enter="handleSubmit"
                  required
                  placeholder="Confirma la contraseña..."
                  class="input-style"
                  v-bind:style="{
                    'background-image': 'url(' + imageInputPass2 + ')'
                  }"
                ></b-form-input>
              </b-form-group>
              <b-form-group
                label="Estado del Agente"
                label-for="status"
                style="font-weight:bold;"
                class="s-label m-0  text-center"
              >
                <b-form-checkbox
                  id="checkbox-1"
                  v-model="status"
                  name="checkbox-1"
                  :value="true"
                  :unchecked-value="false"
                  switch
                >
                  {{ activeAgent() }}
                </b-form-checkbox>
              </b-form-group>
              <center>
                <br /><b-button
                  type="button"
                  class="button-login m-0"
                  @click="handleSubmit"
                  :disabled="!!myInput"
                  v-bind:style="{
                    background: buttonActive().back,
                    'border-color': buttonActive().back,
                    cursor: buttonActive().cursor,
                    color: buttonActive().color
                  }"
                >
                  Ingresar
                </b-button>
              </center>
            </b-form>
          </div>
        </div>
      </div>
    </div>
    <div
      class="row justify-content-center"
      style="position:fixed; bottom:0px; width:100%; 
          margin-left: 0%;background:var(--main-color); font-size: 12px;"
    >
      <span style="color: white">Powered By </span
      ><span>
        -
        <a href="https://www.montechelo.com.co/" target="_blank"
          >Monte<span style="color: white; ">chelo</span></a
        ></span
      >
    </div>
  </div>
</template>

<script>
import axios from "axios";
require("@/components/User/register.css");

export default {
  data() {
    return {
      publicPath: process.env.BASE_URL,
      pathServer: process.env.VUE_APP_URL_SERVER_EXP,
      localPathData: process.env.VUE_APP_LOCAL_DATA,
      localPathJToken: process.env.VUE_APP_LOCAL_TOKEN,
      localPathState: process.env.VUE_APP_LOCAL_STATE,
      user: "",
      password: "",
      name: "",
      password2: "",
      email: "",
      bot: "",
      showDismissibleAlert: false,
      showDismissibleAlert2: false,
      showDismissibleAlert3: false,
      showDismissibleAlert4: false,
      showDismissibleAlert5: false,
      showDismissibleAlert6: false,
      imageInputName: require("../../assets/img/base/person.svg"),
      imageInputPass: "",
      imageInputNameUser: "",
      imageInputEmail: "",
      imageInputPass2: "",
      myInput: true,
      myInputSearch: true,
      status: false
    };
  },
  beforeMount() {
    let tokenAgent = localStorage.getItem(this.localPathJToken);
    this.$parent.socket.emit("Supervisor", tokenAgent, {
      idSocketAgent: tokenAgent,
      stateAgent: localStorage.getItem(this.localPathState),
      nameAgent: JSON.parse(localStorage.getItem(this.localPathData)).nameAgent
    });
  },
  methods: {
    activeAgent() {
      switch (this.status) {
        case true:
          return "Activo";
          break;
        case false:
          return "Inactivo";
          break;
      }
    },
    handleSubmit(e) {
      e.preventDefault();
      if (
        this.password.length >= 8 &&
        this.validateEmail(this.email) === true &&
        this.password === this.password2
      ) {
        axios
          .post(
            this.pathServer + "/updateAgent",
            {
              tokenUser: localStorage.getItem(this.localPathJToken),
              cedula: this.user,
              name: this.name,
              email: this.email,
              password: this.password,
              active: this.status
            },
            {
              headers: {
                "Content-Type": "application/json",
                authorization:
                  "Bearer " +
                  JSON.parse(localStorage.getItem(this.localPathData))
                    .jsonWebToken
              }
            }
          )
          .then(response => {
            if (response.data === "success") {
              this.showDismissibleAlert6 = true;
              this.user = "";
              this.name = "";
              this.email = "";
              this.password = "";
              this.password2 = "";
              this.status = false;
            } else if (response.data === "No existe") {
              this.showDismissibleAlert = true;
            }
          })
          .catch(function(error) {
            console.log(error.response);
          });
      } else if (this.password.length < 8) {
        this.imageInputPass = require("../../assets/img/base/person-err.svg");
        this.showDismissibleAlert3 = true;
      } else if (this.validateEmail(this.email) === false) {
        this.imageInputEmail = require("../../assets/img/base/person-err.svg");
        this.showDismissibleAlert4 = true;
      } else if (this.password !== this.password2) {
        this.imageInputPass2 = require("../../assets/img/base/person-err.svg");
        this.showDismissibleAlert5 = true;
      }
    },
    validateEmail(email) {
      var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(email);
    },
    searchAgent(e) {
      e.preventDefault();
      if (isNaN(this.user) === false && this.user > 5) {
        axios
          .post(
            this.pathServer + "/searchAgent",
            {
              tokenUser: localStorage.getItem(this.localPathJToken),
              cedula: this.user
            },
            {
              headers: {
                "Content-Type": "application/json",
                authorization:
                  "Bearer " +
                  JSON.parse(localStorage.getItem(this.localPathData))
                    .jsonWebToken
              }
            }
          )
          .then(resp => {
            if (resp.data.name) {
              this.name = resp.data.name;
              this.email = resp.data.email;
              this.status = resp.data.active;
            } else {
              this.name = "";
              this.email = "";
              this.showDismissibleAlert = true;
              this.status = false;
            }
          });
      } else {
        this.imageInputName = require("../../assets/img/base/person-err.svg");
        this.showDismissibleAlert2 = true;
      }
    },
    reset() {
      this.showDismissibleAlert = false;
      this.showDismissibleAlert2 = false;
      this.imageInputName = require("../../assets/img/base/person.svg");
      this.imageInputPass = "";
      this.imageInputEmail = "";
      this.imageInputPass2 = "";
      this.imageInputNameUser = " ";
      this.showDismissibleAlert3 = false;
      this.showDismissibleAlert4 = false;
      this.showDismissibleAlert5 = false;
      this.showDismissibleAlert6 = false;
    },
    buttonActive() {
      if (
        this.password.length <= 0 ||
        this.password2.length <= 0 ||
        this.email.length <= 0 ||
        this.name.length <= 0
      ) {
        this.myInput = true;
        return {
          back: "#D8D8D8 !important",
          cursor: "not-allowed !important",
          color: "#8F8F8F !important"
        };
      } else {
        this.myInput = false;
        return {
          back: "var(--secondary-color) !important",
          cursor: "pointer !important",
          color: "#fff !important"
        };
      }
    },
    buttonActiveSearch() {
      if (this.user.length <= 4) {
        this.myInputSearch = true;
        return {
          back: "#D8D8D8 !important",
          cursor: "not-allowed !important",
          color: "#8F8F8F !important"
        };
      } else {
        this.myInputSearch = false;
        return {
          back: "var(--secondary-color) !important",
          cursor: "pointer !important",
          color: "#fff !important"
        };
      }
    }
  }
};
</script>
<!-- estile login -->
<style scoped src="@/components/User/register.css"></style>
