<template>
  <div class="main w-75 mx-auto">
    <div class="row justify-content-center">
      <div
        class="col"
        style="background:#FAFAFA; box-shadow: 0px -3px 10px rgba(0, 0, 0, 0.09); padding: 34px; margin-bottom:43px;"
      >
        <div class="text-center">
          <strong>
            <h2 class="inicio mb-3">Capacidad Conversaciones</h2>
          </strong>
        </div>
        <div
          class="row w-75 mx-auto rounded-lg text-dark justify-content-center mt-5"
        >
          <span
            class="font-weight-bold pb-3"
            style="color:var(--main-color); font-size: 25px;"
          >
            Agentes activos
          </span>
        </div>
        <b-alert v-model="showDismissibleAlert" variant="danger">
          Ingresa solo números
          <b-img
            style="float:right"
            :src="require('../../assets/img/base/person-err.svg')"
          ></b-img>
        </b-alert>
        <div class="table-responsive" style="border-radius: 10px;">
          <table class="table text-center">
            <thead style="background: #ECECEC; color:var(--main-color);">
              <tr>
                <th><p>Identificación</p></th>
                <th><p>Agente</p></th>
                <th><p>Capacidad</p></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(item, index) in agents" v-bind:key="item.idAgent">
                <th>{{ item.id }}</th>
                <td>{{ item.nameagent }}</td>
                <td>
                  <b-input
                    class="text-center"
                    v-model="item.capacidad"
                    :value="item.capacidad"
                  ></b-input>
                </td>
                <td>
                  <b-button v-on:click="change(index)">Modificar</b-button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div
      class="row justify-content-center"
      style="position:fixed; bottom:0px; width:100%; 
          margin-left: 0%;background:var(--main-color); font-size: 12px;"
    >
      <span style="color: white">Powered By </span
      ><span>
        -
        <a href="https://www.montechelo.com.co/" target="_blank"
          >Monte<span style="color: white; ">chelo</span></a
        ></span
      >
    </div>
  </div>
</template>

<script>
import axios from "axios";
require("@/components/Setting/setting.css");

export default {
  components: {},
  data() {
    return {
      publicPath: process.env.BASE_URL,
      pathServer: process.env.VUE_APP_URL_SERVER_EXP,
      localPathData: process.env.VUE_APP_LOCAL_DATA,
      localPathJToken: process.env.VUE_APP_LOCAL_TOKEN,
      localPathState: process.env.VUE_APP_LOCAL_STATE,
      agents: [],
      showDismissibleAlert: false
    };
  },
  beforeMount() {
    let tokenAgent = localStorage.getItem(this.localPathJToken);
    this.$parent.socket.emit("Supervisor", tokenAgent, {
      idSocketAgent: tokenAgent,
      stateAgent: localStorage.getItem(this.localPathState),
      nameAgent: JSON.parse(localStorage.getItem(this.localPathData)).nameAgent
    });
    axios
      .post(
        this.pathServer + "/callAgents",
        {
          tokenUser: localStorage.getItem(this.localPathJToken)
        },
        {
          headers: {
            "Content-Type": "application/json",
            authorization:
              "Bearer " +
              JSON.parse(localStorage.getItem(this.localPathData)).jsonWebToken
          }
        }
      )
      .then(resp => {
        this.agents = resp.data;
      });
  },
  methods: {
    change(index) {
      if (isNaN(this.agents[index].capacidad) === false) {
        this.boxTwo = "";
        this.$bvModal
          .msgBoxConfirm(
            "¿Estas seguro de modificar la capacidad del Agente?",
            {
              title: "Please Confirm",
              size: "sm",
              buttonSize: "sm",
              okVariant: "secondary",
              okTitle: "SI",
              cancelVariant: "info",
              cancelTitle: "NO",
              footerBgVariant: "white",
              footerClass: "p-2",
              hideHeader: true,
              centered: true
            }
          )
          .then(value => {
            this.boxTwo = value;
            if (value == true) {
              axios
                .post(
                  this.pathServer + "/updateCapAgents",
                  {
                    tokenUser: localStorage.getItem(this.localPathJToken),
                    capacity: this.agents[index].capacidad,
                    idAgent: this.agents[index].id
                  },
                  {
                    headers: {
                      "Content-Type": "application/json",
                      authorization:
                        "Bearer " +
                        JSON.parse(localStorage.getItem(this.localPathData))
                          .jsonWebToken
                    }
                  }
                )
                .then(resp => {
                  if (resp.status == 200) {
                    let capacidadAgent = parseInt(this.agents[index].capacidad);
                    this.$parent.socket.emit("new_capacity", {
                      agent: this.agents[index].token,
                      newCap: capacidadAgent
                    });
                  }
                });
            }
          })
          .catch(err => {
            console.log(err);
          });
      } else {
        this.showDismissibleAlert = true;
      }
    }
  }
};
</script>
<!-- estile login -->
<style scoped src="@/components/Setting/setting.css"></style>
