<template>
  <div class="main w-75 mx-auto">
    <div class="row justify-content-center">
      <div
        class="col"
        style="background:#FAFAFA; box-shadow: 0px -3px 10px rgba(0, 0, 0, 0.09); padding: 34px; margin-bottom:43px;"
      >
        <div class="text-center">
          <strong>
            <h2 class="inicio mb-3">Horarios de atención</h2>
          </strong>
        </div>
        <b-alert v-model="showDismissibleAlert" variant="danger">
          la hora de fin de atención no puede ser menor que la de inicio
          <b-img
            style="float:right"
            :src="require('../../assets/img/base/person-err.svg')"
          ></b-img>
        </b-alert>
        <div class="row">
          <div class="col text-center mt-3 font-weight-bold">
            Actual
          </div>
        </div>
        <div class="row mt-1">
          <div class="col text-center ">
            Días habiles<br />
            {{ habilDay }}
          </div>
          <div class="col text-center ">
            Días No habiles<br />
            {{ noHabilday }}
          </div>
        </div>
        <div class="row mt-3">
          <div class="col text-center font-weight-bold">
            Modificar
          </div>
        </div>
        <div class="row mt-2">
          <div class="col text-center">
            Días habiles<br />
            {{ selecTimeStart }} - {{ selecTimeEnd }}
            <div class="mt-2">
              <VueCtkDateTimePicker
                v-model="selecTimeStart"
                formatted="HH:mm"
                format="HH:mm a"
                :onlyTime="true"
                :right="true"
                :label="labelTimeStart"
                :noClearButton="true"
              />
            </div>
            <div class="mt-2">
              <VueCtkDateTimePicker
                v-model="selecTimeEnd"
                formatted="HH:mm"
                format="HH:mm a"
                :onlyTime="true"
                :right="true"
                :label="labelTimeEnd"
                :noClearButton="true"
              />
            </div>
          </div>
          <div class="col text-center">
            Días No habiles<br />
            {{ selecTimeStartNo }} - {{ selecTimeEndNo }}
            <div class="mt-2">
              <VueCtkDateTimePicker
                v-model="selecTimeStartNo"
                formatted="HH:mm"
                format="HH:mm a"
                :onlyTime="true"
                :right="true"
                :label="labelTimeStart"
                :noClearButton="true"
              />
            </div>
            <div class="mt-2">
              <VueCtkDateTimePicker
                v-model="selecTimeEndNo"
                formatted="HH:mm"
                format="HH:mm a"
                :onlyTime="true"
                :right="true"
                :label="labelTimeEnd"
                :noClearButton="true"
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col justify-content-center text-center">
            <b-button
              type="button"
              class="button-login mt-3"
              @click="check"
              :disabled="!!myInput"
              v-bind:style="{
                background: buttonActive().back,
                'border-color': buttonActive().back,
                cursor: buttonActive().cursor,
                color: buttonActive().color
              }"
              >Cambiar</b-button
            >
          </div>
        </div>
      </div>
    </div>
    <div
      class="row justify-content-center"
      style="position:fixed; bottom:0px; width:100%; 
          margin-left: 0%;background:var(--main-color); font-size: 12px;"
    >
      <span style="color: white">Powered By </span
      ><span>
        -
        <a href="https://www.montechelo.com.co/" target="_blank"
          >Monte<span style="color: white; ">chelo</span></a
        ></span
      >
    </div>
  </div>
</template>

<script>
import axios from "axios";
require("@/components/Setting/setting.css");

import VueCtkDateTimePicker from "vue-ctk-date-time-picker";
import "vue-ctk-date-time-picker/dist/vue-ctk-date-time-picker.css";

export default {
  components: {
    VueCtkDateTimePicker
  },
  data() {
    return {
      publicPath: process.env.BASE_URL,
      pathServer: process.env.VUE_APP_URL_SERVER_EXP,
      localPathData: process.env.VUE_APP_LOCAL_DATA,
      localPathJToken: process.env.VUE_APP_LOCAL_TOKEN,
      localPathState: process.env.VUE_APP_LOCAL_STATE,
      noHabilday: "",
      habilDay: "",
      selecTimeStart: "",
      selecTimeEnd: "",
      selecTimeStartNo: "",
      selecTimeEndNo: "",
      boxTwo: "",
      formaTime: "hh:mm a",
      labelTimeStart: "Inicio atención",
      labelTimeEnd: "Fin atención",
      user: "",
      password: "",
      name: "",
      password2: "",
      email: "",
      bot: "",

      showDismissibleAlert: false,
      imageInputName: require("../../assets/img/base/person.svg"),
      imageInputPass: "",
      imageInputNameUser: "",
      imageInputEmail: "",
      imageInputPass2: "",
      myInput: true
    };
  },
  beforeMount() {
    let tokenAgent = localStorage.getItem(this.localPathJToken);
    this.$parent.socket.emit("Supervisor", tokenAgent, {
      idSocketAgent: tokenAgent,
      stateAgent: localStorage.getItem(this.localPathState),
      nameAgent: JSON.parse(localStorage.getItem(this.localPathData)).nameAgent
    });
    axios
      .post(
        this.pathServer + "/checkOfficeHours",
        {
          tokenUser: localStorage.getItem(this.localPathJToken)
        },
        {
          headers: {
            "Content-Type": "application/json",
            authorization:
              "Bearer " +
              JSON.parse(localStorage.getItem(this.localPathData)).jsonWebToken
          }
        }
      )
      .then(resp => {
        let timeStart = this.convertToHour(resp.data.dias_habiles_inicio);
        let timeEnd = this.convertToHour(resp.data.dias_habiles_fin);
        let timeStartNo = this.convertToHour(resp.data.dias_no_habiles_inicio);
        let timeEndNo = this.convertToHour(resp.data.dias_no_habiles_fin);
        this.selecTimeStart = timeStart;
        this.selecTimeEnd = timeEnd;
        this.selecTimeStartNo = timeStartNo;
        this.selecTimeEndNo = timeEndNo;
        this.habilDay = timeStart + "-" + timeEnd;
        this.noHabilday = timeStartNo + "-" + timeEndNo;
      });
  },
  methods: {
    check() {
      this.showDismissibleAlert = false;
      let dayHabhourStart = this.convertToInt(this.selecTimeStart);
      let dayHabHourEnd = this.convertToInt(this.selecTimeEnd);
      let dayNoHabhourStart = this.convertToInt(this.selecTimeStartNo);
      let dayNoHabHourEnd = this.convertToInt(this.selecTimeEndNo);

      if (
        dayHabHourEnd > dayHabhourStart &&
        dayNoHabHourEnd > dayNoHabhourStart
      ) {
        this.boxTwo = "";
        this.$bvModal
          .msgBoxConfirm("¿Estas seguro de modificar el horario de atención?", {
            title: "Please Confirm",
            size: "sm",
            buttonSize: "sm",
            okVariant: "secondary",
            okTitle: "SI",
            cancelVariant: "info",
            cancelTitle: "NO",
            footerBgVariant: "white",
            footerClass: "p-2",
            hideHeader: true,
            centered: true
          })
          .then(value => {
            this.boxTwo = value;
            if (value == true) {
              axios
                .post(
                  this.pathServer + "/updateOfficeHours",
                  {
                    tokenUser: localStorage.getItem(this.localPathJToken),
                    dhstart: dayHabhourStart,
                    dhend: dayHabHourEnd,
                    dnhstart: dayNoHabhourStart,
                    dnhend: dayNoHabHourEnd
                  },
                  {
                    headers: {
                      "Content-Type": "application/json",
                      authorization:
                        "Bearer " +
                        JSON.parse(localStorage.getItem(this.localPathData))
                          .jsonWebToken
                    }
                  }
                )
                .then(resp => {
                  if (resp.status == 200) {
                    this.$parent.socket.emit("new_office_hour", 1);
                    this.habilDay =
                      this.selecTimeStart + "-" + this.selecTimeEnd;
                    this.noHabilday =
                      this.selecTimeStartNo + "-" + this.selecTimeEndNo;
                  }
                });
            }
          })
          .catch(err => {
            console.log(err);
          });
      } else {
        this.showDismissibleAlert = true;
      }
    },
    convertToInt(num) {
      try {
        let arr = num.split(":");
        let hr = parseInt(arr[0]);
        let min = parseInt(arr[1]);
        let seg = 0;
        let result = hr * 3600 + min * 60 + seg;
        return result;
      } catch {
        logger.error("Error, no existe array para hacerle split");
      }
    },
    convertToHour(num) {
      try {
        var hours = Math.floor(num / 3600);
        var minutes = Math.floor((num % 3600) / 60);
        var apm = "";
        if (hours < 10) hours = "0" + hours;
        if (minutes < 10) minutes = "0" + minutes;
        if (hours > 12) {
          //hours = hours - 12;
          apm = "pm";
        } else if (hours == 12) {
          apm = "pm";
        } else {
          apm = "am";
        }
        return hours + ":" + minutes + " " + apm;
      } catch (e) {
        console.log(e);
      }
    },
    buttonActive() {
      if (
        this.selecTimeStart.length <= 0 ||
        this.selecTimeEnd.length <= 0 ||
        this.selecTimeStartNo.length <= 0 ||
        this.selecTimeEndNo.length <= 0
      ) {
        this.myInput = true;
        return {
          back: "#D8D8D8 !important",
          cursor: "not-allowed !important",
          color: "#8F8F8F !important"
        };
      } else {
        this.myInput = false;
        return {
          back: "var(--secondary-color) !important",
          cursor: "pointer !important",
          color: "#fff !important"
        };
      }
    }
  }
};
</script>
<!-- estile login -->
<style scoped src="@/components/Setting/setting.css"></style>
