<template>
  <div class="main w-100 mx-auto">
    <div class="row justify-content-center" style="max-width:100vw">
      <div
        class="col"
        style="background:#FAFAFA; box-shadow: 0px -3px 10px rgba(0, 0, 0, 0.09); padding-top: 30px; margin: 0 20px; left:16px; padding-bottom:40px;"
      >
        <div class="text-center">
          <strong>
            <h2 class="inicio mb-3">Escaneo De Codigo QR Whatsapp</h2>
          </strong>
        </div>
        <div style="display:flex;justify-content:center;">
          <b-alert
            v-model="generatingQr"
            variant="success"
            style="max-width: 70vw;"
          >
            Generando QR, espera un momento por favor.
          </b-alert>
        </div>
        <div class="d-flex flex-column justify-content-center">
          <div class="text-center">
            <img
              v-bind:src="qrImg"
              class="my-3"
              width="150"
              height="150"
              v-bind:style="{ display: dNone }"
            />
          </div>
          <b-button
            class="align-self-center"
            id="btnGenerateQR"
            style="max-width:250px"
            @click="generate()"
            >Generar QR Whatsapp</b-button
          >
        </div>
      </div>
    </div>

    <div
      class="row justify-content-center"
      style="position:fixed; bottom:0px;
          margin-left: 0%;background:var(--main-color); font-size: 12px; max-width:50vw;"
    >
      <span style="color: white">Powered By </span
      ><span>
        -
        <a href="https://www.montechelo.com.co/" target="_blank"
          >Monte<span style="color: white; ">chelo</span></a
        ></span
      >
    </div>
  </div>
</template>

<script>
import axios from "axios";
require("@/components/Setting/setting.css");

export default {
  components: {},
  data() {
    return {
      publicPath: process.env.BASE_URL,
      pathServer: process.env.VUE_APP_URL_SERVER_EXP,
      localPathData: process.env.VUE_APP_LOCAL_DATA,
      localPathJToken: process.env.VUE_APP_LOCAL_TOKEN,
      localPathState: process.env.VUE_APP_LOCAL_STATE,
      generatingQr: false,
      qrImg: "",
      dNone: "none",
      btnGenerateQR: undefined
    };
  },
  beforeMount() {
    let tokenAgent = localStorage.getItem(this.localPathJToken);
    this.$parent.socket.emit("Supervisor", tokenAgent, {
      idSocketAgent: tokenAgent,
      stateAgent: localStorage.getItem(this.localPathState),
      nameAgent: JSON.parse(localStorage.getItem(this.localPathData)).nameAgent
    });
  },
  methods: {
    generate() {
      this.$bvModal
        .msgBoxConfirm("¿Estas seguro de Generar otro código?", {
          title: "Please Confirm",
          size: "sm",
          buttonSize: "sm",
          okVariant: "secondary",
          okTitle: "SI",
          cancelVariant: "info",
          cancelTitle: "NO",
          footerBgVariant: "white",
          footerClass: "p-2",
          hideHeader: true,
          centered: true
        })
        .then(value => {
          this.boxTwo = value;
          if (value == true) {
            this.$parent.socket.emit("new_qr", 1);
            this.generatingQr = true;
            this.btnGenerateQR.disabled = true;
            this.qrImg = "";
            this.dNone = "none";
          }
        })
        .catch(err => {
          console.log(err);
        });
    }
  },
  mounted() {
    this.btnGenerateQR = document.querySelector("#btnGenerateQR");
    this.$parent.socket.on("qr_scanned", val => {
      if (val) {
        alert("Whatsapp ya esta listo para usarse");
        location.reload(true);
      } else {
        location.reload(true);
      }
    });
    this.$parent.socket.on("qr_generated", val => {
      if (val) {
        this.generatingQr = false;
        this.qrImg = "http://localhost:5000/widget/montechelo/qr_code.png";
        this.dNone = "";
        this.btnGenerateQR.disabled = true;
      }
    });
  }
};
</script>
<!-- estile login -->
<style scoped src="@/components/Setting/setting.css"></style>
