@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('../../assets/css/base.css');

body {
    font-family: 'Open Sans', sans-serif;
}

.inicio{
    color: var(--main-color);
    font-weight: bold;
}


.s-label{
    font-size: 13px;
}

.button-login{
    font-weight: bold;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.42);
    border-radius: 100px;
    color: white;
    width: 100%;
    height: 38px;
}

.button-login:hover {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.42);
    border-radius: 100px;
    color: white;
    width: 100%;
    height: 38px;
}

.input-style{
    background: #FFFFFF;
    padding-right: 30px;
    background-repeat: no-repeat;
    background-size: 40px 20px;
    background-position: right center;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}
.login-main-text{
    padding: 60px;
    color: #fff;
}

.login-main-text h2{
    font-weight: 300;
}

.btn-black{
    background-color: #000 !important;
    color: #fff;
}

.alert-danger {
    color: #BD1620 !important;
    background: #FDE6E6 !important;
    border-color: #FDE6E6 !important;
}
.alert {
    padding: 0.25rem 1.25rem !important;
    margin-bottom: 0.8rem !important;
    border: 1px solid transparent;
}
.tableAgent {
    color: var(--main-color);
    min-height: 45px;
    background: #ececec;
    box-shadow: 0px -3px 10px rgba(0, 0, 0, 0.09);
  }
  .tableAgents {
    min-height: 45px;
    background: rgb(229, 230, 238);
    box-shadow: 0px -3px 10px rgba(0, 0, 0, 0.09);
  }
  .colTable {
    border-right: solid 1.4px rgb(197, 197, 197);
  }