<template>
  <div class="main w-75 mx-auto">
    <div class="row justify-content-center">
      <div
        class="col"
        style="background:#FAFAFA; box-shadow: 0px -3px 10px rgba(0, 0, 0, 0.09); padding: 34px; margin-bottom:43px;"
      >
        <div class="text-center">
          <strong>
            <h2 class="inicio mb-3">
              Tiempo Medio de Operación
            </h2>
          </strong>
        </div>

        <div
          class="row w-75 mx-auto rounded-lg text-dark justify-content-center mt-5"
        >
          <span
            class="font-weight-bold pb-3"
            style="color:var(--main-color); font-size: 25px;"
          >
            Configuración Actual
          </span>
        </div>
        <b-alert
          class="text-center"
          v-model="showDismissibleAlert2"
          variant="danger"
        >
          Error modificando el tmo, no puede haber dos códigos iguales
          <b-img
            style="float:right"
            :src="require('../../assets/img/base/person-err.svg')"
          ></b-img>
        </b-alert>
        <b-alert
          class="text-center"
          v-model="showDismissibleAlert5"
          variant="danger"
        >
          Error eliminando el tmo
          <b-img
            style="float:right"
            :src="require('../../assets/img/base/person-err.svg')"
          ></b-img>
        </b-alert>
        <b-alert
          class="text-center"
          v-model="showDismissibleAlert3"
          variant="success"
        >
          Se ha actualizado satisfactoriamente el tmo
        </b-alert>
        <b-alert
          class="text-center"
          v-model="showDismissibleAlert4"
          variant="success"
        >
          Se ha eliminado satisfactoriamente el tmo
        </b-alert>
        <div class="table-responsive" style="border-radius: 10px">
          <table class="table text-center">
            <thead style="background: #ECECEC; color:var(--main-color);">
              <tr>
                <th><p>Tiempo de aviso en minutos</p></th>
                <th><p>Tiempo de finalización en minutos</p></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(item, index) in tmo" v-bind:key="item.idAgent">
                <th>
                  <b-input
                    style="min-width: 100px;"
                    class="text-center"
                    v-model="item.ending"
                    :value="item.ending"
                    v-on:click="reset"
                    v-on:keydown="reset"
                  ></b-input>
                </th>
                <th>
                  <b-input
                    style="min-width: 100px;"
                    class="text-center"
                    v-model="item.warning"
                    :value="item.warning"
                    v-on:click="reset"
                    v-on:keydown="reset"
                  ></b-input>
                </th>
                <th>
                  <b-button v-on:click="change(index)">Modificar</b-button>
                </th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div
      class="row justify-content-center"
      style="position:fixed; bottom:0px; width:100%; 
          margin-left: 0%;background:var(--main-color); font-size: 12px;"
    >
      <span style="color: white">Powered By </span
      ><span>
        -
        <a href="https://www.montechelo.com.co/" target="_blank"
          >Monte<span style="color: white; ">chelo</span></a
        ></span
      >
    </div>
  </div>
</template>

<script>
import axios from "axios";

require("@/components/Setting/setting.css");

export default {
  data() {
    return {
      publicPath: process.env.BASE_URL,
      pathServer: process.env.VUE_APP_URL_SERVER_EXP,
      localPathData: process.env.VUE_APP_LOCAL_DATA,
      localPathJToken: process.env.VUE_APP_LOCAL_TOKEN,
      localPathState: process.env.VUE_APP_LOCAL_STATE,
      showDismissibleAlert: false,
      showDismissibleAlert2: false,
      showDismissibleAlert3: false,
      showDismissibleAlert4: false,
      showDismissibleAlert5: false,
      showDismissibleAlert6: false,
      imageInputName: require("../../assets/img/base/person.svg"),
      imageInputPass: "",
      imageInputNameUser: "",
      imageInputEmail: "",
      imageInputPass2: "",
      tmo: [],
      codTip: "",
      valueTip: "",
      emojiDisplay: "none"
    };
  },
  beforeMount() {
    axios
      .post(
        this.pathServer + "/tmo",
        {},
        {
          headers: {
            "Content-Type": "application/json",
            authorization:
              "Bearer " +
              JSON.parse(localStorage.getItem(this.localPathData)).jsonWebToken
          }
        }
      )
      .then(resp => {
        this.tmo = resp.data;
      });
  },
  methods: {
    buttonActive() {
      if (this.codTip.length <= 0 || this.valueTip.length <= 0) {
        this.myInput = true;
        return {
          back: "#D8D8D8 !important",
          cursor: "not-allowed !important",
          color: "#8F8F8F !important"
        };
      } else {
        this.myInput = false;
        return {
          back: "var(--secondary-color) !important",
          cursor: "pointer !important",
          color: "#fff !important"
        };
      }
    },
    reset() {
      this.showDismissibleAlert = false;
      this.imageInputName = require("../../assets/img/base/person.svg");
      this.imageInputPass = "";
      this.imageInputEmail = "";
      this.imageInputPass2 = "";
      this.imageInputNameUser = " ";
      this.showDismissibleAlert3 = false;
      this.showDismissibleAlert4 = false;
      this.showDismissibleAlert5 = false;
      this.showDismissibleAlert6 = false;
      this.showDismissibleAlert7 = false;
    },
    handleSubmit(e) {
      e.preventDefault();
      if (this.codTip && this.valueTip) {
        axios
          .post(
            this.pathServer + "/saveShortcut",
            {
              tokenUser: localStorage.getItem(this.localPathJToken),
              codTip: this.codTip,
              valueTip: this.valueTip
            },
            {
              headers: {
                "Content-Type": "application/json",
                authorization:
                  "Bearer " +
                  JSON.parse(localStorage.getItem(this.localPathData))
                    .jsonWebToken
              }
            }
          )
          .then(response => {
            if (response.data.status && response.data.status === "success") {
              this.showDismissibleAlert6 = true;
              this.tmo.push({
                id: response.data.id,
                cod: this.codTip,
                value: this.valueTip
              });
              this.codTip = "";
              this.valueTip = "";
            } else if (response.data === "Error") {
              this.showDismissibleAlert = true;
            }
          })
          .catch(function(error) {
            console.log(error.response);
          });
      }
    },
    change(index) {
      if (this.tmo[index].warning && this.tmo[index].ending) {
        this.boxTwo = "";
        this.$bvModal
          .msgBoxConfirm("¿Estas seguro de modificar el tmo?", {
            title: "Please Confirm",
            size: "sm",
            buttonSize: "sm",
            okVariant: "secondary",
            okTitle: "SI",
            cancelVariant: "info",
            cancelTitle: "NO",
            footerBgVariant: "white",
            footerClass: "p-2",
            hideHeader: true,
            centered: true
          })
          .then(value => {
            this.boxTwo = value;
            if (value == true) {
              axios
                .post(
                  this.pathServer + "/updateTmo",
                  {
                    tokenUser: localStorage.getItem(this.localPathJToken),
                    warning: this.tmo[index].warning,
                    ending: this.tmo[index].ending
                  },
                  {
                    headers: {
                      "Content-Type": "application/json",
                      authorization:
                        "Bearer " +
                        JSON.parse(localStorage.getItem(this.localPathData))
                          .jsonWebToken
                    }
                  }
                )
                .then(resp => {
                  if (resp.status == 200) {
                    if (resp.data === "success") {
                      this.showDismissibleAlert3 = true;
                      this.$parent.socket.emit("new_tmo", {
                        warning: this.tmo[index].warning,
                        ending: this.tmo[index].ending
                      });
                    } else if (resp.data === "Error") {
                      this.showDismissibleAlert2 = true;
                    }
                  }
                });
            }
          })
          .catch(err => {
            console.log(err);
          });
      } else {
        this.showDismissibleAlert = true;
      }
    }
  },
  mounted() {}
};
</script>
<!-- estile login -->
<style scoped src="@/components/Setting/setting.css"></style>
