<template>
  <div class="container pt-5 text-center">
    <update-supervisor></update-supervisor>
  </div>
</template>

<script>
import UpdateSupervisor from '../../components/User/UpdateSupervisor'
export default {
  components: {
    UpdateSupervisor
  },
  name: "supervisor-update",
  data: function() {
    return {
    };
  }
};
</script>
